/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif !important;
}

#right-panel {
    font-family: 'Kanit', sans-serif !important;
    line-height: 30px;
    padding-left: 10px;
}

#right-panel select, #right-panel input {
    font-size: 15px;
}

#right-panel select {
    width: 100%;
}

#right-panel i {
    font-size: 12px;
}

#right-panel {
    font-family: 'Kanit', sans-serif !important;
    position: absolute;
    right: 5px;
    top: 60%;
    margin-top: -195px;
    height: 330px;
    width: 200px;
    padding: 5px;
    z-index: 5;
    border: 1px solid #999;
    background: #fff;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 271px;
    max-width: 200px;
    overflow-y: scroll;
    font-family: 'Kanit', sans-serif !important;
}


#more {
    width: 100%;
    margin: 5px 0 0 0;
}


#infowindow-content {
    font-family: 'Kanit', sans-serif !important;
}

.my-header {
    background-color: black;
    color: white;
    padding: 10px 10px;
}

#searchclear {
    position: absolute;
    right: 5px;
    bottom: 0;
    font-size: 3em;
    cursor: pointer;
    top: -30%;
    color: #efdedea3;
}

.horizon-divide{
    background-color: deeppink;
    height: 1vw;
    padding: 0 auto;
    width: 100vw;
}